<?xml version="1.0" encoding="utf-8" ?>
<statsify-agent>
  <statsify host="127.0.0.1" port="8125" namespace="servers" />
  <metrics collection-interval="00:00:05">
    <metric name="system.processor.total_time" type="performance-counter" path="\Processor(_Total)\% Processor Time" aggregation-strategy="gauge" />
    <metric name="system.processor.total_privileged_time" type="performance-counter" path="\Processor(_Total)\% Privileged Time" aggregation-strategy="gauge" />
    <metric name="system.processor.total_user_time" type="performance-counter" path="\Processor(_Total)\% User Time" aggregation-strategy="gauge" />

    <metric name="system.memory.available_mb" type="performance-counter" path="\Memory\Available MBytes" aggregation-strategy="gauge" />

    <!-- Shows the percentages of time the disks are busy servicing read or write requests. The recommended average should be less than 85%. -->
    <metric name="system.physical_disk.disk_time" type="performance-counter" path="\PhysicalDisk(0 C:)\% Disk Time" aggregation-strategy="gauge" />

    <!-- Shows the number of disk requests that are waiting for a disk during the sample interval. The recommended average should be less than 2 per disk. -->
    <metric name="system.physical_disk.average_queue_length" type="performance-counter" path="\PhysicalDisk(0 C:)\Avg. Disk Queue Length" aggregation-strategy="gauge" />

    <!-- Shows the number of disk requests that are currently waiting at the time the performance data is collected. The recommended average should be less than 2 per disk. -->
    <metric name="system.physical_disk.current_queue_length" type="performance-counter" path="\PhysicalDisk(0 C:)\Current Disk Queue Length" aggregation-strategy="gauge" />

    <!-- Shows the number of read and writes per second regardless of the amount of data. The recommended average should be less than 100 per disk. -->
    <metric name="system.physical_disk.transfers_sec" type="performance-counter" path="\PhysicalDisk(0 C:)\Disk Transfers/sec" aggregation-strategy="gauge" />

    <!-- Shows the amount of data transmitted per disk per second. -->
    <metric name="system.physical_disk.bytes_sec" type="performance-counter" path="\PhysicalDisk(0 C:)\Disk Bytes/sec" aggregation-strategy="gauge" />

    <!-- Shows the average in milliseconds (ms) to read from disk. The recommended average should be less than 10 milliseconds (ms). -->
    <metric name="system.physical_disk.average_sec_read" type="performance-counter" path="\PhysicalDisk(0 C:)\Avg. Disk Sec/Read" aggregation-strategy="gauge" />
    
    <!-- Shows the average in milliseconds (ms) to write to disk. The recommended average should be less than 10 milliseconds (ms). -->
    <metric name="system.physical_disk.average_sec_write" type="performance-counter" path="\PhysicalDisk(0 C:)\Avg. Disk Sec/Write" aggregation-strategy="gauge" />

    <metric name="system.physical_disk.read_bytes_sec" type="performance-counter" path="\PhysicalDisk(0 C:)\Disk Read Bytes/sec" aggregation-strategy="gauge" />
    <metric name="system.physical_disk.write_bytes_sec" type="performance-counter" path="\PhysicalDisk(0 C:)\Disk Write Bytes/sec" aggregation-strategy="gauge" />

    <metric name="system.asp_net.requests_sec" type="performance-counter" path="\ASP.NET Applications(__Total__)\Requests/Sec" aggregation-strategy="gauge" />   


    <!--metric name="" type="performance-counter" /-->
  </metrics>
</statsify-agent>