<?xml version="1.0" encoding="utf-8" ?>
<statsify-agent>
  <statsify host="127.0.0.1" port="8125" namespace="servers" />
  <metrics collection-interval="00:00:10">
    <metric name="system.processor.total_time" type="performance-counter" path="\Processor(_Total)\% Processor Time" aggregation-strategy="gauge" />
    <metric name="system.processor.total_privileged_time" type="performance-counter" path="\Processor(_Total)\% Privileged Time" aggregation-strategy="gauge" />
    <metric name="system.processor.total_user_time" type="performance-counter" path="\Processor(_Total)\% User Time" aggregation-strategy="gauge" />

    <metric name="system.logical_disk.read_queue_length" type="performance-counter" path="\LogicalDisk(_Total)\Avg. Disk Read Queue Length" aggregation-strategy="gauge" />
    <metric name="system.logical_disk.write_queue_length" type="performance-counter" path="\LogicalDisk(_Total)\Avg. Disk Write Queue Length" aggregation-strategy="gauge" />

    <metric name="system.logical_disk.read_bytes_sec" type="performance-counter" path="\LogicalDisk(_Total)\Disk Read Bytes/sec" aggregation-strategy="gauge" />
    <metric name="system.logical_disk.write_bytes_sec" type="performance-counter" path="\LogicalDisk(_Total)\Disk Write Bytes/sec" aggregation-strategy="gauge" />
  </metrics>
</statsify-agent>