.chart_container {
    width: 100%;    
    background: none repeat scroll 0 0 #404040;
    height: 200px;
    border: 1px solid #AAA;
    display: none;
}
.chart { float: left; background-color: white;}
.legend {
    padding: 0;
    padding-left: 10px;
    float: left;
     -ms-border-radius: 0;
    border-radius: 0;   
}

.chart-header {
    text-align: center;
    font-family: Arial;
    font-size: 12px;    
    color: white;
    padding-top: 5px;
}
li.line {
    padding: 1px !important;
}
