<?xml version="1.0" encoding="utf-8" ?>
<statsify-aggregator>
  <endpoint address="0.0.0.0" port="8125" />
  <storage path="C:\statsify" flush-interval="00:00:05">
    <store name="default" pattern="" retention="10s:8h,1m:7d,10m:5y" />
  </storage>
  <!-- https://github.com/etsy/statsd/blob/master/docs/graphite.md#storage-aggregation -->
  <downsampling>
    <downsample name="min" pattern="\.lower$" factor="0.1" method="min" />
    <downsample name="max" pattern="\.upper(_\d+)?$" factor="0.1" method="max" />
    <downsample name="sum" pattern="\.sum$" factor="0" method="sum" />
    <downsample name="count" pattern="\.count$" factor="0" method="sum" />
    <downsample name="default" pattern=".*" factor="0.4" method="average" />
  </downsampling>
  <!--aggregation>
    
  </aggregation-->
</statsify-aggregator>