<?xml version="1.0" encoding="utf-8" ?>
<statsify-aggregator>
  <endpoint address="0.0.0.0" port="8125" />
  <storage path="f:\statsify" flush-interval="00:00:05">
    <store name="default" pattern="" retention="10s:8h,1m:7d,10m:5y" />
  </storage>
  <downsampling>
    <downsample name="default" pattern="" factor="0.4" method="min" />
  </downsampling>
  <!--aggregation>
    
  </aggregation-->
</statsify-aggregator>