<?xml version="1.0" encoding="utf-8" ?>
<statsify-aggregator>
  <udp-endpoint address="0.0.0.0" port="8125" />
  <http-endpoint address="localhost" port="8080" relative-url="statsify" />
  <storage path="{{ storage-path }}" flush-interval="00:00:10">
    <store name="default" pattern="">
      <retentions>
        <!-- retention="10s:8h,1m:7d,10m:5y" -->
        <retention precision="00:00:10" history="8h" />
        <retention precision="1m" history="7d" />
        <retention precision="30m" history="5y" />
      </retentions>
    </store>
  </storage>
  <!-- https://github.com/etsy/statsd/blob/master/docs/graphite.md#storage-aggregation -->
  <downsampling>
    <downsample name="min" pattern="\.lower$" factor="0.1" method="min" />
    <downsample name="max" pattern="\.upper(_\d+)?$" factor="0.1" method="max" />
    <downsample name="sum" pattern="\.sum$" factor="0" method="sum" />
    <downsample name="count" pattern="\.count$" factor="0" method="sum" />
    <downsample name="default" pattern=".*" factor="0.4" method="average" />
  </downsampling>
  <!--aggregation>
    
  </aggregation-->
</statsify-aggregator>