<?xml version="1.0" encoding="utf-8" ?>
<statsify-agent>
  <statsify host="192.168.0.1" port="18125" namespace="servers" />
  <metrics collection-interval="00:00:05">
    <metric name="system.processor.total_time" type="performance-counter" path="\Processor(_Total)\% Processor Time" aggregation-strategy="gauge" />
    <metric name="system.processor.total_privileged_time" type="performance-counter" path="\Processor(_Total)\% Privileged Time" aggregation-strategy="gauge" />
    <metric name="system.processor.total_user_time" type="performance-counter" path="\Processor(_Total)\% User Time" aggregation-strategy="gauge" />
  </metrics>
</statsify-agent>